In [1]:
import pandas as pd
import csv

In [2]:
first_year = pd.read_csv("2017 attendance.csv")

In [ ]:
first_year

In [3]:
first_year.insert(7,"Year","2017")

In [4]:
second_year = pd.read_csv("2018 attendance.csv")

In [5]:
second_year.insert(7,"Year","2018")

In [55]:
first_year

    Unnamed: 0  RK           Team  GMS    TOTAL     AVG    PCT  Year
0            1   1          Bulls   41  888,882  21,680  103.6  2017
1            2   2      Cavaliers   41  843,042  20,562  100.0  2017
2            3   3        Raptors   41  813,050  19,830  100.2  2017
3            4   4      Mavericks   41  811,366  19,789  103.1  2017
4            5   5      NY Knicks   41  810,741  19,774   99.8  2017
5            6   6           Jazz   41  806,605  19,673   98.8  2017
6            7   7           Heat   41  805,400  19,643  100.2  2017
7            8   8       Warriors   41  803,436  19,596  100.0  2017
8            9   9  Trail Blazers   41  792,029  19,317   99.4  2017
9           10  10       Clippers   41  782,609  19,088  100.1  2017
10          11  11         Lakers   41  776,917  18,949   99.4  2017
11          12  12        Celtics   41  760,690  18,553   99.6  2017
12          13  13          Spurs   41  755,347  18,423   99.2  2017
13          14  14        Thunder   41  746,323  18,203  100.0  2017
14          15  15          Magic   41  727,875  17,753   94.2  2017
15          16  16          Kings   41  721,928  17,608  100.6  2017
16          17  17        Hornets   41  710,643  17,332   90.9  2017
17          18  18          76ers   41  710,557  17,330   85.3  2017
18          19  19           Suns   41  708,639  17,283   93.8  2017
19          20  20        Wizards   41  697,107  17,002   83.8  2017
20          21  21        Rockets   41  695,903  16,973   94.1  2017
21          22  22         Pacers   41  684,578  16,697   91.9  2017
22          23  23      Grizzlies   41  677,314  16,519   91.2  2017
23          24  24       Pelicans   41  663,099  16,173   94.1  2017
24          25  25        Pistons   41  655,141  15,979   72.4  2017
25          26  26          Hawks   41  654,306  15,958   85.2  2017
26          27  27          Bucks   41  648,952  15,828   84.6  2017
27          28  28           Nets   41  632,608  15,429   85.2  2017
28          29  29   Timberwolves   41  607,203  14,809   76.5  2017
29          30  30        Nuggets   41  605,585  14,770   77.1  2017

In [ ]:
second_year

In [32]:
city = pd.read_csv("NBA City Population.csv")

In [ ]:
city

In [33]:
del city["2019"]

In [34]:
city

              City          Team      Lat      Long      2017      2018
0         New York        Knicks  40.7128  -74.0060  19589572  19530351
1      Los Angeles        Lakers  34.0522 -118.2427   3975788   3977596
2          Chicago         Bulls  41.8781  -87.6298   2711069   2701423
3          Toronto       Raptors  43.6532  -79.3832   2930000   2956024
4          Houston       Rockets  29.7604  -95.3698   2316750   2318573
5          Phoenix          Suns  33.4484 -112.0740   1633560   1654675
6     Philadelphia         76ers  39.9526  -75.1652   1580601   1583592
7      San Antonio         Spurs  29.4252  -98.4946   1511154   1530016
8           Dallas     Mavericks  32.7767  -96.7970   1260189   1259104
9           Denver       Nuggets  39.7392 -104.9903    704961    716265
10      Washington       Wizards  38.9072  -77.0369   6211340   6247840
11        Portland  Trailblazers  45.5152 -122.6784    647924    650837
12        Oklahoma       Thunder  35.4676  -97.5164    642822    647912
13         Atlanta         Hawks  33.7490  -84.3880    491670    498183
14      Sacramento         Kings  38.5816 -121.4944    500777    507737
15       Cleveland     Cavaliers  41.4993  -81.6944    385252    383214
16           Miami          Heat  25.7617  -80.1918    456617    462819
17         Oakland      Warriors  37.8044 -122.2712    424382    429056
18         Detroit       Pistons  42.3314  -83.0458    674631    672977
19    Indianapolis        Pacers  39.7684  -86.1581    863478    870960
20       Charlotte       Hornets  35.2271  -80.8431    860002    872514
21         Memphis     Grizzlies  35.1495  -90.0490    650878    651104
22          Boston       Celtics  42.3601  -71.0589    687788    691147
23       Milwaukee         Bucks  43.0389  -87.9065    593725    591375
24       Minnesota  Timberwolves  44.9778  -93.2650    420925    424903
25     New Orleans      Pelicans  29.9511  -90.0715    391493    391004
26         Orlando         Magic  28.5384  -81.3789    281804    285903
27  Salt Lake City          Jazz  40.7608 -111.8910    200932    200435
28        Brooklyn          Nets  40.6782  -73.9442   2635000   2601000
29     Los Angeles      Clippers  34.0522 -118.2427   3975788   3977596

In [35]:
city2017 = city

In [36]:

del city2017['2018']
city2017 = city2017.rename(columns={'2017':'Population'})

In [37]:
city2017

              City          Team      Lat      Long  Population
0         New York        Knicks  40.7128  -74.0060    19589572
1      Los Angeles        Lakers  34.0522 -118.2427     3975788
2          Chicago         Bulls  41.8781  -87.6298     2711069
3          Toronto       Raptors  43.6532  -79.3832     2930000
4          Houston       Rockets  29.7604  -95.3698     2316750
5          Phoenix          Suns  33.4484 -112.0740     1633560
6     Philadelphia         76ers  39.9526  -75.1652     1580601
7      San Antonio         Spurs  29.4252  -98.4946     1511154
8           Dallas     Mavericks  32.7767  -96.7970     1260189
9           Denver       Nuggets  39.7392 -104.9903      704961
10      Washington       Wizards  38.9072  -77.0369     6211340
11        Portland  Trailblazers  45.5152 -122.6784      647924
12        Oklahoma       Thunder  35.4676  -97.5164      642822
13         Atlanta         Hawks  33.7490  -84.3880      491670
14      Sacramento         Kings  38.5816 -121.4944      500777
15       Cleveland     Cavaliers  41.4993  -81.6944      385252
16           Miami          Heat  25.7617  -80.1918      456617
17         Oakland      Warriors  37.8044 -122.2712      424382
18         Detroit       Pistons  42.3314  -83.0458      674631
19    Indianapolis        Pacers  39.7684  -86.1581      863478
20       Charlotte       Hornets  35.2271  -80.8431      860002
21         Memphis     Grizzlies  35.1495  -90.0490      650878
22          Boston       Celtics  42.3601  -71.0589      687788
23       Milwaukee         Bucks  43.0389  -87.9065      593725
24       Minnesota  Timberwolves  44.9778  -93.2650      420925
25     New Orleans      Pelicans  29.9511  -90.0715      391493
26         Orlando         Magic  28.5384  -81.3789      281804
27  Salt Lake City          Jazz  40.7608 -111.8910      200932
28        Brooklyn          Nets  40.6782  -73.9442     2635000
29     Los Angeles      Clippers  34.0522 -118.2427     3975788

In [43]:
city1 = pd.read_csv("NBA City Population.csv")
del city1['2019']

In [44]:
city2018 = city1

In [45]:

del city2018['2017']
city_2018 = city2018.rename(columns={'2018':'Population'})

In [46]:
city_2018

              City          Team      Lat      Long  Population
0         New York        Knicks  40.7128  -74.0060    19530351
1      Los Angeles        Lakers  34.0522 -118.2427     3977596
2          Chicago         Bulls  41.8781  -87.6298     2701423
3          Toronto       Raptors  43.6532  -79.3832     2956024
4          Houston       Rockets  29.7604  -95.3698     2318573
5          Phoenix          Suns  33.4484 -112.0740     1654675
6     Philadelphia         76ers  39.9526  -75.1652     1583592
7      San Antonio         Spurs  29.4252  -98.4946     1530016
8           Dallas     Mavericks  32.7767  -96.7970     1259104
9           Denver       Nuggets  39.7392 -104.9903      716265
10      Washington       Wizards  38.9072  -77.0369     6247840
11        Portland  Trailblazers  45.5152 -122.6784      650837
12        Oklahoma       Thunder  35.4676  -97.5164      647912
13         Atlanta         Hawks  33.7490  -84.3880      498183
14      Sacramento         Kings  38.5816 -121.4944      507737
15       Cleveland     Cavaliers  41.4993  -81.6944      383214
16           Miami          Heat  25.7617  -80.1918      462819
17         Oakland      Warriors  37.8044 -122.2712      429056
18         Detroit       Pistons  42.3314  -83.0458      672977
19    Indianapolis        Pacers  39.7684  -86.1581      870960
20       Charlotte       Hornets  35.2271  -80.8431      872514
21         Memphis     Grizzlies  35.1495  -90.0490      651104
22          Boston       Celtics  42.3601  -71.0589      691147
23       Milwaukee         Bucks  43.0389  -87.9065      591375
24       Minnesota  Timberwolves  44.9778  -93.2650      424903
25     New Orleans      Pelicans  29.9511  -90.0715      391004
26         Orlando         Magic  28.5384  -81.3789      285903
27  Salt Lake City          Jazz  40.7608 -111.8910      200435
28        Brooklyn          Nets  40.6782  -73.9442     2601000
29     Los Angeles      Clippers  34.0522 -118.2427     3977596

In [47]:
e= "2017"
e = [e] *30
f = "2018"
f = [f] *30

In [48]:
years2017 = []
years2018 = []

In [49]:
for x in e:
    years2017.append(x)

In [50]:
for x in f:
    years2018.append(x)

In [51]:
city2017['Year']= years2017

In [52]:
city2018['Year'] = years2018

In [57]:
city2017

              City          Team      Lat      Long  Population  Year
0         New York        Knicks  40.7128  -74.0060    19589572  2017
1      Los Angeles        Lakers  34.0522 -118.2427     3975788  2017
2          Chicago         Bulls  41.8781  -87.6298     2711069  2017
3          Toronto       Raptors  43.6532  -79.3832     2930000  2017
4          Houston       Rockets  29.7604  -95.3698     2316750  2017
5          Phoenix          Suns  33.4484 -112.0740     1633560  2017
6     Philadelphia         76ers  39.9526  -75.1652     1580601  2017
7      San Antonio         Spurs  29.4252  -98.4946     1511154  2017
8           Dallas     Mavericks  32.7767  -96.7970     1260189  2017
9           Denver       Nuggets  39.7392 -104.9903      704961  2017
10      Washington       Wizards  38.9072  -77.0369     6211340  2017
11        Portland  Trailblazers  45.5152 -122.6784      647924  2017
12        Oklahoma       Thunder  35.4676  -97.5164      642822  2017
13         Atlanta         Hawks  33.7490  -84.3880      491670  2017
14      Sacramento         Kings  38.5816 -121.4944      500777  2017
15       Cleveland     Cavaliers  41.4993  -81.6944      385252  2017
16           Miami          Heat  25.7617  -80.1918      456617  2017
17         Oakland      Warriors  37.8044 -122.2712      424382  2017
18         Detroit       Pistons  42.3314  -83.0458      674631  2017
19    Indianapolis        Pacers  39.7684  -86.1581      863478  2017
20       Charlotte       Hornets  35.2271  -80.8431      860002  2017
21         Memphis     Grizzlies  35.1495  -90.0490      650878  2017
22          Boston       Celtics  42.3601  -71.0589      687788  2017
23       Milwaukee         Bucks  43.0389  -87.9065      593725  2017
24       Minnesota  Timberwolves  44.9778  -93.2650      420925  2017
25     New Orleans      Pelicans  29.9511  -90.0715      391493  2017
26         Orlando         Magic  28.5384  -81.3789      281804  2017
27  Salt Lake City          Jazz  40.7608 -111.8910      200932  2017
28        Brooklyn          Nets  40.6782  -73.9442     2635000  2017
29     Los Angeles      Clippers  34.0522 -118.2427     3975788  2017

In [60]:
city2018 = city2018.rename(columns={'2018':'Population'})

In [61]:
city2018

              City          Team      Lat      Long  Population  Year
0         New York        Knicks  40.7128  -74.0060    19530351  2018
1      Los Angeles        Lakers  34.0522 -118.2427     3977596  2018
2          Chicago         Bulls  41.8781  -87.6298     2701423  2018
3          Toronto       Raptors  43.6532  -79.3832     2956024  2018
4          Houston       Rockets  29.7604  -95.3698     2318573  2018
5          Phoenix          Suns  33.4484 -112.0740     1654675  2018
6     Philadelphia         76ers  39.9526  -75.1652     1583592  2018
7      San Antonio         Spurs  29.4252  -98.4946     1530016  2018
8           Dallas     Mavericks  32.7767  -96.7970     1259104  2018
9           Denver       Nuggets  39.7392 -104.9903      716265  2018
10      Washington       Wizards  38.9072  -77.0369     6247840  2018
11        Portland  Trailblazers  45.5152 -122.6784      650837  2018
12        Oklahoma       Thunder  35.4676  -97.5164      647912  2018
13         Atlanta         Hawks  33.7490  -84.3880      498183  2018
14      Sacramento         Kings  38.5816 -121.4944      507737  2018
15       Cleveland     Cavaliers  41.4993  -81.6944      383214  2018
16           Miami          Heat  25.7617  -80.1918      462819  2018
17         Oakland      Warriors  37.8044 -122.2712      429056  2018
18         Detroit       Pistons  42.3314  -83.0458      672977  2018
19    Indianapolis        Pacers  39.7684  -86.1581      870960  2018
20       Charlotte       Hornets  35.2271  -80.8431      872514  2018
21         Memphis     Grizzlies  35.1495  -90.0490      651104  2018
22          Boston       Celtics  42.3601  -71.0589      691147  2018
23       Milwaukee         Bucks  43.0389  -87.9065      591375  2018
24       Minnesota  Timberwolves  44.9778  -93.2650      424903  2018
25     New Orleans      Pelicans  29.9511  -90.0715      391004  2018
26         Orlando         Magic  28.5384  -81.3789      285903  2018
27  Salt Lake City          Jazz  40.7608 -111.8910      200435  2018
28        Brooklyn          Nets  40.6782  -73.9442     2601000  2018
29     Los Angeles      Clippers  34.0522 -118.2427     3977596  2018

In [ ]:
frames1 = [first_year,city2017]

In [70]:
first_big = pd.merge(first_year,city2017[['Team','Lat','Long','Population','Year']],on='Team')

In [71]:
second_big = pd.merge(second_year,city2018[['Team','Lat','Long','Population','Year']],on='Team')

In [72]:
big_data = pd.concat([first_big,second_big])

In [73]:
big_data = big_data.iloc[:,2:]

In [75]:
del big_data['Year_x']

In [76]:
big_data.to_csv("population_and_attendance.csv")